<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <script type="text/javascript" src="/javascripts/d3.v3.js"></script>
  <script type="text/javascript">data = {{{data}}}</script>
</head>
<body>
<script type="text/javascript" src="/javascripts/times.js"></script>
</body>
</html>
