<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <script type="text/javascript" src="/javascripts/d3.v3.js"></script>
  <script type="text/javascript" src="/javascripts/lodash.3.5.0.min.js"></script>
  <script type="text/javascript">data = {{{data}}}</script>
  <script type="text/javascript">_id = "{{{exercise}}}"</script>
</head>
<body>
<script type="text/javascript" src={{{src}}}></script>
</body>
</html>
